* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  color: #3D3D3D;
}

a {
  text-decoration: none;
  color: inherit;
}

p, h1, h2, ul {
  margin-bottom: 0;
  margin-top: 0;
}

p {
  font-size: 15px;
  line-height: 22px;
}

button {
  background: transparent;
  color: inherit;
  cursor: pointer;
  border: none;
  font-size: 0;
  font-family: inherit;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.section-wrapper {
  padding: 0 5%;
}

.section-wrapper:last-of-type {
  padding-bottom: 250px;
}



.slider {
  position: relative;
  overflow-x: hidden;
}

.slider__btn {
  cursor: progress;
  width: max(10%, 75px);
  height: 100%;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
}

.slider__btn:first-of-type {
  right: initial;
  left: 0;
}



@media screen and (max-width: 640px) {
  h2 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }
}



@media screen and (min-width: 641px) {
  body {
    padding-top: 65px;
  }

  h2 {
    font-size: 30px;
    font-weight: 600;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }
}



@media screen and (min-width: 961px) {
  h2 {
    font-size: 36px;
  }

  .section-wrapper > section {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
}
