.about {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
}

.about-slider__list {
  width: 1100px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  transition: margin-left 0.5s linear;
}

.about-slider__item {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.about-slider__text {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
}

.about-image-wrapper {
  font-size: 0;
}

.about-image {
  width: 100%;
  height: 100%;
  max-height: inherit;
  object-fit: cover;
  border-radius: 12px;
}

.about-text > p:not(p:first-child) {
  margin-top: 18px;
}



@media screen and (max-width: 640px) {
  .about-header {
    align-self: center;
    max-width: 450px;
  }
  .about-slider {
    margin: 40px 0 45px;
  }
  .about-image-wrapper {
    max-height: 275px;
  }
  .about-text {
    margin-top: 25px;
  }
}



@media screen and (min-width: 641px) and (max-width: 960px) {
  .about-slider {
    margin: 44px 0 50px;
  }
  .about-image-wrapper {
    max-height: 325px;
  }
  .about-text {
    margin-top: 30px;
  }
}



@media screen and (min-width: 961px) {
  .about {
    padding-top: 48px;
    flex-flow: row wrap;
    justify-content: space-between;
    column-gap: 4%;
  }

  .about-header,
  .about-slider {
    flex-basis: 100%;
  }

  .about-slider {
    margin: 44px 0 54px;
  }

  .about-image-wrapper {
    max-width: 450px;
    flex-basis: 45%;
    order: 1;
  }
  
  .about-text {
    flex-basis: 45%;
    flex-grow: 1;
  }

  .about-slider__list {
    width: 1200px;
  }
  
  .about-slider__item {
    width: 130px;
  }
}