.stats-item_1 {
  background-color: #137CF9;
  background-image: url('icon1.svg');
}
.stats-item_2 {
  background-color: #DA1564;
  background-image: url('icon2.svg');
}
.stats-item_3 {
  background-color: #77D44A;
  background-image: url('icon3.svg');
}
.stats-item_1,
.stats-item_2,
.stats-item_3 {
  font-weight: 500;
  color: white;
}
.stats-item_4 {
  font-weight: 600;
  background-color: #FFC72C;
  background-image: url('icon4.svg');
}
.stats-item_5 {
  font-weight: 600;
  background-color: #FFC72C;
  background-image: url('icon5.svg');
}



.stats {
  padding-top: 48px;
}

.stats-list {
  margin-top: 32px;
  display: flex;
  row-gap: 24px;
}

.stats-item {
  display: flex;
  background-size: 56px;
  background-repeat: no-repeat;
}

.stats-item__value {
  font-size: 24px;
  line-height: 27px;
}



@media screen and (max-width: 480px) {
  .stats-list {
    flex-flow: column;
  }

  .stats-item {
    background-position: 26px center;
    padding: 20px 20px 22px 100px;
    border-radius: 20px;
    flex-flow: row wrap;
    align-items: flex-end;
    column-gap: 7px;
  }

  .stats-item__param {
    flex-basis: 100%;
    margin-bottom: 7px;
  }
}



@media screen and (min-width: 481px) {
  .stats-list {
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 4%;
  }

  .stats-item {
    flex-basis: 48%;
    padding: 92px 0 24px;
    background-position: center 24px;
    border-radius: 24px;
    flex-flow: column;
    align-items: center;
  }

  .stats-item__param {
    margin-bottom: 10px;
  }
}



@media screen and (min-width: 481px) and (max-width: 640px) {
  .stats-item_5 {
    flex-basis: 62%;
    background-position: 26px center;
    padding: 20px 20px 22px 100px;
    border-radius: 20px;
    flex-flow: row wrap;
    align-items: flex-end;
    column-gap: 7px;
  }

  .stats-item_5 > .stats-item__param {
    flex-basis: 100%;
    margin-bottom: 7px;
  }
}



@media screen and (min-width: 641px) {
  .stats-list {
    column-gap: 2%;
  }

  .stats-item {
    flex-basis: 32%;
  }
}



@media screen and (min-width: 961px) {
  .stats-list {
    margin-top: 36px;
    column-gap: 1.25%;
  }
  
  .stats-item {
    flex-basis: 19%;
  }
}
