.nav-wrapper {
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: black;
}



@media screen and (max-width: 640px) {
  .nav-wrapper {
    transition: background-color 0.5s;
    display: none;
    justify-content: end;
    align-items: center;
    height: 100%;
  }

  .page-nav {
    width: max(200px, 50%);
    min-height: 396px;
  }

  .nav-link {
    box-shadow: 0 0 5px 0 white;
    border-radius: 8px 0 0 8px;
    background: white;
    display: block;
    width: 100%;
    height: 56px;
    line-height: 56px;
    transition: margin-left 0.5s;
    margin-left: 100%;
  }

  .nav-link:not(.nav-link:first-of-type) {
    margin-top: 15px;
  }



  .nav-wrapper_animation-1-2 {
    display: flex;
  }
  .nav-wrapper_animation-2-2 {
    background-color: rgba(169, 169, 169, 0.75);
  }
  .nav-wrapper_animation-2-2 .nav-link {
    margin-left: 0;
  }
}



@media screen and (min-width: 641px) {
  .nav-wrapper {
    border-bottom: 1px solid lightgray;
    background: white;
    height: 65px;
    padding: 0 5%;
  }
  
  .page-nav {
    display: flex;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
  }

  .nav-link {
    flex-grow: 1;
    line-height: 64px;
  }

  .nav-link:hover {
    background-color: whitesmoke;
  }
}